@page "/analisis/{proyecto}"
@*proyecto = nombre del proyecto, es unico en la tabla*@

@using PortalWeb.ViewModel
@using Blazorise

@inherits AnalisisViewModel

<h3>Análisis - @proyecto</h3>


@if (aux == null)
{
    <p><em>Cargando datos...</em></p>

}
else
{
    <br />
    <label>> Humedad</label><br />
    @foreach (var dato in aux)
    {
        @dato.Humedad;<br />
    }
    <br />

    <label>> Temperatura</label><br />
    @foreach (var dato in aux)
    {
        @dato.Temperatura; <br />
    }


}

