@page "/data"
@using Libreria.Entidades
@using Servicios
@using Blazorise.Charts
@using PortalWeb.ViewModel 
@inherits DataViewModel

<h1>Plataforma IoT 🦕</h1>
<p>Este módulo muestra los datos obtenidos por los sensores.</p>

<LineChart @ref="lineChartTemperature" TItem="double" />
<LineChart @ref="lineChartHumity" TItem="double" />
