@page "/data"
@using Libreria.Entidades
@using Servicios
@using Blazorise.Charts
@using PortalWeb.ViewModel

@inherits DataViewModel

<h1>DATOS SENSOR 🦕</h1>
<p>Este módulo muestra los datos obtenidos por el sensor SE01</p>

<LineChart @ref="lineChartTemperature" TItem="double" />
<LineChart @ref="lineChartHumity" TItem="double" />



