@page "/generalproyectos"
@*@inject NavigationManager NavigationManager*@

@using Libreria.Entidades
@using Servicios

@using PortalWeb.ViewModel

@inherits GeneralProyectoViewModel


<div class="list-group">
    <p>Proyectos disponibles</p>

    <input @bind-value="SearchTerm" @bind-value:event="oninput" />

    @if (proyectos == null)
    {
        <p><em>Cargando proyectos...</em></p>
    }
    else
    {
        @*<div class="col-md-9">
                <input type="text" onkeyup="@SearchBoxkeyPress"/>
                <button class="btn" type="submit"> Buscar</button>
            </div>*@

        <h4 class="mt-4">Proyectos disponibles</h4>
        <ul>
            @foreach (var p in proyectosFiltrados)
            {
                @*<li>@p.name</li>*@

                var link = $"proyecto/{p.Nombre}";

                <a href=@link class="list-group-item list-group-item-action">@p.Nombre</a>
            }
        </ul>

    }

</div>

@*@code {

        private IEnumerable<EntidadProyecto> proyectos;
        private ServicioProyecto servicio;

        private int usuario = 1;

        protected override async Task OnInitializedAsync()
        {
            proyectos = new List<EntidadProyecto>();
            servicio = new ServicioProyecto("Data Source = (localdb)\\MSSQLLocalDB; Initial Catalog = plataformadb; Integrated Security = true", null);

            proyectos = await servicio.ObtenerProyectos(usuario);

        }


        //private void NavigateToEstacionBaseComponent()
        //{
        //    NavigationManager.NavigateTo($"proyecto/asdkfhalkjsdfhalksdjfhl");
        //}

    }*@
