@page "/registrousuario"

@using PortalWeb.ViewModel

@inject NavigationManager NavigationManager

<h3>Página de registro</h3>

<EditForm Model="@_registro" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>Nombre: </label>
    <InputText id="name" @bind-Value="_registro.name" /> <br />
    <label>E-mail: </label>
    <InputText id="email" @bind-Value="_registro.email" /> <br />
    <label>Contraseña: </label>
    <InputText type="password" id="password" @bind-Value="_registro.password"></InputText><br />

    <button type="reset" class="btn btn-danger" @onclick="HandleCancel">Cancel</button>
    <button type="submit" class="btn btn-success">Aceptar</button>


</EditForm>

@code {

    private RegistroUsuarioViewModel _registro = new RegistroUsuarioViewModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }

    private void HandleCancel()
    {

        NavigationManager.NavigateTo("#");

    }

}
