<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img href="/images/favicon_120x120.png" sizes="120x120"/>Plataforma IoT</a>
    <link rel="icon" type="image/x-icon" href="/images/favicon_120x120.png" sizes="120x120" />
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>*@
        
        <AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="generalproyectos">
                    <span class="oi oi-laptop" aria-hidden="true"></span> Proyectos
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <span class="oi oi-copywriting" aria-hidden="true"></span> Administración
                </NavLink>
            </li>
        </AuthorizeView>
        
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
